* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


:root {
    --color-light-1: #D9D9D9 ;

    --color-dark-1: #797984;
    --color-dark-2: #312d37;
    --color-dark-3: #000;

    --color-blue-1: #3C3E73;
    --color-blue-2: #252654;
    --color-blue-3: #010330;

    --color-gradient: linear-gradient(45deg, var(--color-blue-3), var(--color-blue-2), var(--color-blue-1));
} 

#main {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    background-color: var(--color-light-1);
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    border-radius: 8px;
    gap: 25px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
}

#back-main-page img {
    position: absolute;
    top: 30px;
    left: 30px;

    width: 100%;
    height: 100%;
}

#back-main-page {
    transform: rotate(180deg);
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--color-blue-3);
}


#accounts-type {
    display: flex;
    justify-content: space-around;
}

#accounts-type img {
    width: 35px;
}

#accounts-type img:hover {
    transform: scale(1.05);
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-box label { 
    font-size: 14px;
    color: var(--color-blue-2);
}

.input-form {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border: 1px solid var(--color-blue-2);
}

.input-form i {
    font-size: 18px;
    color: var(--color-blue-2);
}

.input-form input { 
    border: none;
    background-color: transparent;
    color: var(--color-blue-3);
    width: 260px;
    font-size: 18px;
    padding: 0px 5px;
    outline: none;
}


#forgot-password {
    text-decoration: none;
    font-size: 12px;
    color: var(--color-dark-1);
}

#forgot-password a:hover {
    color: var(--color-blue-1);
}

#login-button {
    border: none;
    background: var(--color-gradient);
    color: var(--color-light-1);
    padding: 7px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

#login-button:hover {
    transform: scale(1.05);
}
